.App {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #1e1d6b;
}

.App-header {
    background-color: #1e1d6b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#mainScreen {
    display: flex;
    width: 100%;
    height: 100%;
}

.left {
    background-color: white;
    width: 70%;
    height: 100%;
}

.right {
    display: flex;
    width: 30%;
    flex-direction: column;
    padding: 90px 30px;
}

.elapsed-time {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    


}
