.text-component {
    padding: 40px 70px;
    text-align: left;
}

.phase-name {
    font-size: 34px;
    color: #1e1d6b;
    font-weight: 900;
    margin-bottom: 40px;
}

.text-subtitle {
    font-size: 17px;
    font-style: italic;
    color: #1e1d6b;
}

.weird-thing {
    width: 70px;
    height: 4px;
    background-color: #1e1d6b;
    border-radius: 50px;
}

.main-text {
    border: 2px dashed rgba(60, 99, 130, .5);
    height: 55vh;
    line-height: 1.5;
    padding: 10px 30px;
    margin-top: 35px;
    overflow: scroll;
}

.links {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.links a {
    color: #1e1d6b;
    list-style-type: none;
    padding: 10px 30px;
    margin-top: auto;
    margin-bottom: 20px;
    text-decoration: none;
}

.lien-text-first {
    margin-left: auto;
}


.main-text::-webkit-scrollbar {
    width: 40px;
    height: 0px;
}

.main-text::-webkit-scrollbar-track {
    background: #transparent;
}

.main-text::-webkit-scrollbar-thumb {
    height: 0px;
    border: 15px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 1px;
    background-color: #1e1d6b;
}

.grid-wrapper {
    display: flex;
    margin-top: 20px;
}

.grid-mj {
    display: grid;
    align-self: center;
    padding-right: 50px;
    width: 150px;
    height: 150px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.grid-text {
    width: 70%;
}

.grid-mj > div:not(.island) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #1e1d6b solid;
    height: 25px;
    width: 25px;
    color: #ffffff;
    border-right: 1px #1e1d6b solid;
}

.item19 {
    grid-row: 4 / 6;
    grid-row-gap: 0;
    border-left: 1px #1e1d6b solid;
    border-right: 1px #1e1d6b solid;

}

.item30 {
    grid-column: 1 / 4;
    border-left: 1px #1e1d6b solid;
    border-bottom: 1px #1e1d6b solid;
    border-right: 1px #1e1d6b solid;
}

.item25, .item26 {
    border-bottom: 1px #1e1d6b solid;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    border-top: 1px #1e1d6b solid;
    border-bottom: 1px #1e1d6b solid;
    grid-column-gap: 0;
}

.item1,
.item7,
.item13 {
    border-left: 1px #1e1d6b solid;
}

.item20,
.item26 {
    border-right: 1px #1e1d6b solid;
}

.item6,
.item12,
.item18,
.item20,
.item24
.item26 {
    border-right: 1px #1e1d6b solid;
}
