.right {
    background-color: #1e1d6b;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 90px 30px;
}

.timer-wrapper {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-self: center;
}
.elapsed-time {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 40px;
}

.CircularProgressbar-path {
  stroke: red;
}

.CircularProgressbar {
    height: 30vh;
}

.buttons-right-screen {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.buttons-right-screen button {
    color: white;
    background-color: transparent;
    border: none;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
}

.buttons-wrapper button {
    margin-bottom: 10px;
}

.rose-button {
    text-transform: uppercase;
    background-color: #ff6f72;
    border: none;
    width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
    color: #ffffff;
    font-weight: 900;
}
